#root {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
/* utils */

.hidden {
  display: none;
}

/* margin */
.m {
  margin: 16px;
}
.mx {
  margin-left: 16px;
  margin-right: 16px;
}
.my {
  margin-top: 16px;
  margin-bottom: 16px;
}
.mb {
  margin-bottom: 16px;
}
.ml {
  margin-left: 16px;
}
.mr {
  margin-right: 16px;
}
.mt {
  margin-top: 16px;
}

/* padding */
.p {
  padding: 16px;
}
.px {
  padding-left: 16px;
  padding-right: 16px;
}
.py {
  padding-top: 16px;
  padding-bottom: 16px;
}
.pb {
  padding-bottom: 16px;
}
.pl {
  padding-left: 16px;
}
.pr {
  padding-right: 16px;
}
.pt {
  padding-top: 16px;
}

/* flexbox */
.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.row {
  flex-direction: row;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}
.justify-start {
  justify-content: flex-start;
}
.justify-end {
  justify-content: flex-end;
}
.align-between {
  align-content: space-between;
}
.align-around {
  align-content: space-around;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}

/* widths */
.w-full {
  width: 100%;
}
.w-50 {
  width: 50%;
}
.w-25 {
  width: 25%;
}
.w-75 {
  width: 75%;
}
.w-small {
  width: 64px;
}
.w-medium {
  width: 128px;
}
.w-large {
  width: 256px;
}
.w-xlarge {
  width: 512px;
}